

<h1>Thank You For Your Purchase</h1>

<br/>
<div class="invoice_printout">
  <h2>Customer Information</h2>
<p><%= @customer.name %></p>
<p><%= @customer.address %></p>
<p><%= @customer.city %>, <%= @customer.province.name %>  <%= @customer.postal_code %></p>
</div>



<h2><%= pluralize(@order_itmes_counter, ' Item') %> Information</h2>
<div class="invoice_printout">
<p>Order ID: <%= @order.id %>  </p>
<table class="table">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>

  
  <% @order.invoice_items.each do |item| %>
  <tr>
    <th><%= item.product.name %></th>
    <th><%= item.quantity %></th>
    <th><%= number_to_currency item.taxes %></th>
    <th><%= number_to_currency item.total %></th>
  </tr>
<% end %>
 
</table>
</div >

<div class="invoice_printout" >  
<h2>Summary</h2>
<table class="table">
  <tr>
    <td></td>
    <td>Subtotal:</td>
    <td><%= number_to_currency @subtotal_invoice %></td>
  </tr>
    <tr>
    <td></td>
    <td>PST:</td>
    <td><%= number_to_currency @pst_amount_invoice %></td>
  </tr>
  <tr>
    <td></td>
    <td>GST:</td>
    <td><%= number_to_currency @gst_amount_invoice %></td>
  </tr>
  <tr>
    <td></td>
    <td>HST:</td>
    <td><%= number_to_currency @hst_amount_invoice %></td>
  </tr>
  <tr>
    <td></td>
    <td>Final Total:</td>
    <td><%= number_to_currency @grand_total_invoice %></td>
  </tr>
</table>
</div>