<h1>Listing invoice_items</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Taxes</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoice_items.each do |invoice_item| %>
  <tr>
    <td><%= invoice_item.order_id %></td>
    <td><%= invoice_item.product_id %></td>
    <td><%= invoice_item.quantity %></td>
    <td><%= invoice_item.taxes %></td>
    <td><%= invoice_item.total %></td>
    <td><%= link_to 'Show', invoice_item %></td>
    <td><%= link_to 'Edit', edit_invoice_item_path(invoice_item) %></td>
    <td><%= link_to 'Destroy', invoice_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice item', new_invoice_item_path %>
