<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @invoice_item.order_id %>
</p>

<p>
  <b>Product:</b>
  <%= @invoice_item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @invoice_item.quantity %>
</p>

<p>
  <b>Taxes:</b>
  <%= @invoice_item.taxes %>
</p>

<p>
  <b>Total:</b>
  <%= @invoice_item.total %>
</p>


<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoice_items_path %>
