        <div id="product">
          <div id="product_image">
          <%= link_to image_tag(product.name, :width =>'200'), product_path(product) %>
          </div>
          <div id="product_info">
          <p>Category: <%= product.category %></p>
          <p>Description: <%= product.description %></p>
          <p>Price: <%= number_to_currency product.price %></p>

            
          <%= form_tag add_to_cart_path do %>
            <%= hidden_field_tag(:product_id, "#{product.id}") %>
            <%= submit_tag("Add To Cart") %>
            
          <% end %>
          </div>
        
        </div>