<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.name, :width => '790' %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price: $</b>
  <%= @product.price %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>


<%= link_to 'Home', root_path %> |
<%= link_to 'Products', products_path %>


<%= form_tag add_to_cart_path do %>
<%= hidden_field_tag(:product_id, "#{@product.id}") %>
<%= submit_tag("Add To Cart") %>
<% end %>
